@import 'tailwindcss';

/* @config '../../tailwind.config.cjs'; */

/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    'DM Sans Variable', 'ui-sans-serif', 'system-ui', '-apple-system', 'BlinkMacSystemFont',
    '"Segoe UI"', 'Roboto', '"Helvetica Neue"', 'Arial', '"Noto Sans"', 'sans-serif',
    '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"';
  --font-serif: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times', 'serif';
  --font-mono:
    'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', '"Liberation Mono"',
    '"Courier New"', 'monospace';

  --color-primary: oklch(0.59 0.231 28.63);
  --color-secondary: oklch(0.6 0.1998 142.4);
  --color-info: oklch(0.54 0.2139 260.23);
  --color-dark: oklch(0.18 0.0307 265.7);
  --color-darker: oklch(0.17 0.0267 266.2);
}

@layer base {
  [role='button'],
  button {
    cursor: pointer;
  }

  :disabled {
    cursor: default;
  }
}
