---
import Container from '../common/Container.astro'

interface Props {
  id?: string
  title: string
  description: string
  color?: 'red' | 'green' | 'gray'
}

const { id, title, description, color = 'red' } = Astro.props
---

<div id={id} class="relative py-16">
  <div
    aria-hidden="true"
    class="pointer-events-none absolute inset-0 m-auto grid h-max w-full grid-cols-2 -space-x-52 opacity-50 dark:opacity-30"
  >
    <div
      data-color={color}
      class="dark:from-purle-800 h-56 bg-gradient-to-br blur-[106px] data-[color=gray]:from-gray-500 data-[color=green]:from-secondary data-[color=red]:from-primary data-[color=gray]:to-gray-700 data-[color=green]:to-green-600 data-[color=red]:to-red-600"
    >
    </div>
    <div
      data-color={color !== 'gray' ? 'default' : color}
      class="h-32 bg-gradient-to-r blur-[106px] data-[color=default]:from-gray-400 data-[color=gray]:from-blue-400 data-[color=default]:to-gray-900 data-[color=gray]:to-blue-900 data-[color=default]:dark:to-gray-400 data-[color=gray]:dark:to-blue-400"
    >
    </div>
  </div>
  <Container>
    <div class="relative">
      <div class="m-auto mt-6 space-y-6 md:w-8/12 lg:w-7/12">
        <h1 class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">
          {title}
        </h1>
        <p class="text-center text-xl text-gray-600 dark:text-gray-300">
          {description}
        </p>
      </div>
    </div>
    <div class="mt-10">
      <slot />
    </div>
  </Container>
</div>
