---
import Container from '../common/Container.astro'

interface Props {
  id?: string
  title: string
  description: string
}

const { id, title, description } = Astro.props
---

<div id={id} class="relative py-16">
  <div
    aria-hidden="true"
    class="pointer-events-none absolute inset-0 m-auto grid h-max w-full grid-cols-2 -space-x-52 opacity-50 dark:opacity-30"
  >
    <div class="dark:from-purle-800 h-56 bg-gradient-to-br from-primary to-purple-400 blur-[106px]">
    </div>
    <div class="h-32 bg-gradient-to-r from-cyan-400 to-sky-900 blur-[106px] dark:to-indigo-500">
    </div>
  </div>
  <Container>
    <div class="relative">
      <div class="m-auto mt-6 space-y-6 md:w-8/12 lg:w-7/12">
        <h1 class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">
          {title}
        </h1>
        <p class="text-center text-xl text-gray-600 dark:text-gray-300">
          {description}
        </p>
      </div>
    </div>
    <div class="mt-10">
      <slot />
    </div>
  </Container>
</div>
