---
import imageDark from '@/assets/pages/gaststaette-dark.jpg'
import imageLight from '@/assets/pages/gaststaette-light.jpg'
import slider1Dark from '@/assets/pages/gaststaette-1-dark.jpg'
import slider1Light from '@/assets/pages/gaststaette-1-light.jpg'
import slider2Dark from '@/assets/pages/gaststaette-2-dark.jpg'
import slider2Light from '@/assets/pages/gaststaette-2-light.jpg'
import HeroSection from '@/components/blocks/HeroSection.astro'
import Container from '@/components/common/Container.astro'
import Layout from '@/layouts/Layout.astro'
import type { MetaSEO } from '@/types'
import ImageGallery from '@/components/common/ImageGallery.astro'

const meta: MetaSEO = {
  title: 'Gaststätte',
  description:
    'Entdecken Sie die einladende Atmosphäre der Gaststätte "Auszeit" beim SV Eutingen. Genießen Sie kulinarische Vielfalt in geselliger Runde für Jung und Alt. Erfahren Sie mehr über unser abwechslungsreiches Angebot und erleben Sie gemütliche Stunden voller Genuss und Geselligkeit.',
  image: imageLight,
}
---

<Layout {meta}>
  <HeroSection
    id="home"
    title="Auszeit"
    description=`Herzlich willkommen in der Gaststätte "Auszeit" des SV Eutingen – einem Ort für Jung und Alt, wo Gemeinschaft und Genuss im Mittelpunkt stehen.`
    primaryButton={{ label: 'Infos', to: '#infos' }}
    secondaryButton={{
      label: 'Homepage',
      to: 'https://www.auszeit-eutingen.de/',
      target: '_blank',
    }}
    image={{ light: imageLight, dark: imageDark, alt: 'Gastraum in der Auszeit' }}
  />
  <div class="pt-6 pb-16" id="infos">
    <Container>
      <div class="text-gray-600">
        <h2 class="text-3xl font-bold text-gray-900 md:text-4xl lg:text-5xl dark:text-white">
          Infos
        </h2>
        <p class="my-12 text-gray-600 dark:text-gray-300">
          In unserer Vereinsgaststätte Auszeit findest Du die perfekte Einkehrmöglichkeit. Ob
          Samstags zur Bundesliga, unter der Woche mit Freunden, auf ein Eis an heißen Sommertagen
          auf der Terrasse oder für ein deftiges Essen:<br />
          Schau' bei unseren bewährten Pächtern Andrea und Micha vorbei und erlebe gesellige Stunden.<br
          /><br />
          Auch für eine Firmenfeier, Geburtstage und sonstige Anlässe bietet die Gaststätte Platz für
          bis zu 150 Personen.<br /><br />
          Weitere Informationen findest Du auf der <a
            class="underline duration-300 hover:text-gray-800 dark:hover:text-gray-200"
            href="https://www.auszeit-eutingen.de/"
            target="_blank"
            rel="noreferrer">Homepage der Auszeit Eutingen</a
          >.
        </p>
      </div>
    </Container>
  </div>
  <div class="pt-6 pb-16">
    <Container>
      <div class="w-full">
        <ImageGallery
          images={[
            {
              light: slider1Light,
              dark: slider1Dark,
              alt: 'Tisch mit Blumen und Speisekarte in der Auszeit',
            },
            { light: slider2Light, dark: slider2Dark, alt: 'Die Dartscheiben in der Auszeit' },
            { light: imageLight, dark: imageDark, alt: 'Gastraum in der Auszeit' },
          ]}
        />
      </div>
    </Container>
  </div>
</Layout>
