---
import { SITE } from '@/config.mjs'
import Layout from '@/layouts/Layout.astro'
import HeroSection from '@/components/blocks/HeroSection.astro'
import imageLight from '@/assets/images/home-light.png'
import imageDark from '@/assets/images/home-dark.png'

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true
}
---

<Layout {meta}>
  <main>
    <HeroSection
      id="home"
      title="SV Eutingen"
      description="Willkommen beim SV Eutingen - Dein Verein für Sport und Gemeinschaft in Eutingen im Gäu. Entdecke unser umfangreiches Sportangebot für Jung und Alt."
      primaryButton={{ label: 'Aktuelles', to: '#aktuelles' }}
      secondaryButton={{ label: 'Mach mit', to: '#mach-mit' }}
      imageLight={imageLight}
      imageDark={imageDark}
    />
  </main>
</Layout>
