---
import { SITE } from '@/config.mjs'
import Layout from '@/layouts/Layout.astro'

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true
}
---

<Layout {meta}>
  <main>
    <!-- TODO: content -->
  </main>
</Layout>
