---
import HeaderSection from '@/components/blocks/HeaderSection.astro'
import NewsletterCard from '@/components/blocks/NewsletterCard.astro'
import Container from '@/components/common/Container.astro'
import Notification from '@/components/common/Notification.astro'
import Layout from '@/layouts/Layout.astro'
import type { MetaSEO } from '@/types'

const meta: MetaSEO = {
  title: 'Newsletter',
  description:
    'Bleib auf dem Laufenden mit unseren Newslettern zu Teamsport, Events und Fitness. Erhalte interessante, gesammelte Informationen über das SVE-Angebot – garantiert ohne Spam. Jetzt abonnieren!',
}
---

<Layout {meta}>
  <HeaderSection
    title="Newsletter"
    description="Bleib auf dem Laufenden mit unseren Newslettern zu Teamsport, Events und Fitness und erhalte interessante, gesammelte Informationen über das SVE-Angebot – garantiert ohne Spam."
  />
  <div>
    <Container>
      <NewsletterCard />
    </Container>
  </div>
  <Notification />
</Layout>
