---
import '@fontsource-variable/dm-sans'
import { type MetaSEO } from '@/types'
import { SITE } from '@/config.mjs'
import MetaTags from '@/components/common/MetaTags.astro'
import BasicScripts from '@/components/common/BasicScripts.astro'
import AppHeader from '@/components/common/AppHeader.astro'
import AppFooter from '@/components/common/AppFooter.astro'

export interface Props {
  meta?: MetaSEO
}

const { meta = {} } = Astro.props
const { language, textDirection } = SITE
---

<!doctype html>
<html lang={language} dir={textDirection} class="scroll-smooth">
  <head>
    <MetaTags {...meta} />
    <BasicScripts />
  </head>
  <body class="font-sans scroll-smooth bg-white dark:bg-darker m-0 overflow-x-hidden">
    <AppHeader />
    <slot />
    <AppFooter />
  </body>
</html>
